.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color:#fff;
    padding-bottom: 30px;
    width: 700px;
    min-height: 800px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 9px;
    margin-top: 30px;
    width: 100%;
}
.text {
    font-size: 45px;
    font-weight:700;
    color: #3D195B;
}
.underline {
    width: 40px;
    height: 4px;
    background-color: #3D195B;
    border-radius: 9px;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 55px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
    width: 4%;
}
.input input{
    width: auto;
    height: 50px;
    background: transparent;
    font-size: 18px;
    border: none;
    outline: none;
    color:#797979;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    font-size: 18px;
    color: #565557;
}
.forgot-password span{
    font-weight: 600;
    color:#2d0350;
    cursor: pointer;
}
.submit-containers{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    width: 220px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #2b0470;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}
.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.logo-container img{
    width: 150px;
}